# Task 1)  go through some of the other in built functions

built in function are the pre-define function in python. some examples are 
1) abs(x) for fetching the absolute value of x.
2) bin() for getting the binary value.
3) bool() for retrieving the boolean value of an object.
4) list() for lists. 
5) len() to get the length of the value.
6) open() to open the files. 
7) pow() for returning the power of a number. 
8) sum() for fetching the sum of the elements
9) min()

In [1]:
# abs(x)
a=45
b=8.99
c=-87
d= 5+7j
print(abs(a))
print(abs(b))
print(abs(c))
print(abs(d))

45
8.99
87
8.602325267042627

In [2]:
#bin()
a=8
print(bin(a))

0b1000

In [3]:
#bool()
a=87
print(bool(a))

True

In [4]:
#list
list=[1,2,3,4,"jyoti",5+7j]
print(list)

[1, 2, 3, 4, 'jyoti', (5+7j)]

In [5]:
#len()
list1=[1,5,8,7,9,"house"]
print(len(list1))

6

In [8]:
#pow
print(pow(2,-3))

0.125

In [9]:
#sun
list=[3,6,7,8,9]
a=sum(list)
print(a)

33

In [10]:
#min
list=[5,8,9,3,2]
b=min(list)
print(b)

2

In [22]:
str ="Netzwerk"
print(str[-1::-1])

krewzteN

# Task 2)  given a string for example

##

str1 = "Welcome to python"

check if "to" is present in "welcome to python"

In [24]:
str1 = " Welcome to python"
if "to" in str1:
    print("yes")
else:
    print("no")

yes

# Task-3.1 go through other inbuilt methods like remove(),count(),clear(),sort(),reverse()

#remove 
In Python, `remove()` is a built-in method that allows you to remove a specific element from a list. It is used to delete the first occurrence of the specified value from the list. Here, `list_name` is the name of the list from which you want to remove the element, and `value` is the element that you want to remove.

In [30]:
list=[4,7,8,9,4,3,7]
list.remove(8)
list

[4, 7, 9, 4, 3, 7]

In [35]:
b=list.count(7)
print(b)

2

In [36]:
list=[7,8,"orange","purple"]
list.clear()
list

[]

In [38]:
list=[4,7,9,6,4,3,2,6]
list.sort()
list

[2, 3, 4, 4, 6, 6, 7, 9]

In [44]:
str=" i am in mumbai"
a=str[-1::-1]
print(a)

iabmum ni ma i

# Task 3.2 Create a list of lenght = 10 and access 5th to 8th data.

In [46]:
list=[ 3,7,8,9,6,6,4,6,4,2]
a=list[5:9]
print(a)

[6, 4, 6, 4]

# Task-4: 2 problems! Add item 70 after 60 in the following Python List
#input
l1 = [10, 20, [30, 40, [50, 60], 80], 90, 100]
#output
[10, 20, [30, 40, [50, 60, 70], 80], 90, 100]

In [101]:
lst= [10, 20, [30, 40, [50, 60], 80], 90, 100] 
a=len(lst)
print(a)
b=lst[2]
print(b)
c=b[2]
print(c)
c.append(70)
print(c)

5
[30, 40, [50, 60], 80]
[50, 60]
[50, 60, 70]

In [117]:
lst= [10, 20, [30, 40, [50, 60], 80], 90, 100] 
a=len(lst)
print(a)
lst[2][2].append(70)
print(lst)

5
[10, 20, [30, 40, [50, 60, 70], 80], 90, 100]

add sublist [7,8] after 6
#input
l2 = [1,2,[3,4,5,6],9]
#output
[1,2,[3,4,5,6,[7,8]],9]

In [113]:
list =[1,2,[3,4,5,6],9]
a=print(len(list))
print(a)
b=list[2]
b.append([7,8])
print(b)

4
None
[3, 4, 5, 6, [7, 8]]

In [115]:

list =[1,2,[3,4,5,6],9]
a=print(len(list))
print(a)
list[2].append([7,8])
print(b)
print(list)

4
None
[3, 4, 5, 6, [7, 8]]
[1, 2, [3, 4, 5, 6, [7, 8]], 9]

# Task-5

code:
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}

Questions:
From the above dictionary, do the following tasks

access "Mike"
access 80
change "Mike" to "Your name"
add ML = 80 and DL = 80 inside marks

In [141]:
dict1 = { "april_batch":
         { "student":
          { "name":"Mike", 
           "marks":
           { "python":80, "maths":70 } } } }
print(len(dict1))
dict1(name)="jyoti"
print(dict1)

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (3328014307.py, line 7)

# Task 6 
Add and remove the elements from a tuple. (Refer workaroud to modify the tuples)

# Task7 - go through other inbuilt methods like
difference()
symmetric_difference()

In [145]:
group1= { "green","pink","black","red","yellow"}
group2={ "black","purple","bargandi","red"}
group3=group1.union(group2)
group4=group1.intersection(group2)

print(group3)
print(group4)

{'purple', 'black', 'red', 'bargandi', 'yellow', 'pink', 'green'}
{'black', 'red'}

# Task8 - Make a table of all the In-built data structures and Point out the differences one by one

Python has four non-primitive inbuilt data structures namely Lists, Dictionary, Tuple and Set.

#list : list are mutable we can change the element in the list , list are slower than tuple .ordered collection of data
     
#eg list=[ 1,5,"girl","boy"]

#tup:- tuple are immutable we can not change element in the tuple. tuple is faster than list 
tup1= (1,3,6,"rohit")


Dictionary: In python, dictionary is similar to hash or maps in other languages. It consists of key value pairs. The value can be accessed by unique key in the dictionary. 
 dict = { "name":"jyoti", "age":24}

set : Unordered collection of unique objects. 
set1={ 1,4,6,7,8}

# Task9
Ask 2 numbers from users and store it in num1 and num2
Ask user to press 1 for addition,2 for subtraction,3 for multiplication and 4 for division
based on number given by user do the math operation

In [3]:
#for addition
num1 = int(input("Enter First Number: "))
num2 = int(input("Enter Second Number: "))

print("Enter which operation would you like to perform?")
ch = input("Enter any of these char for specific operation 1,2,3,4: ")

result = 0
if ch == '1':
    result = num1 + num2
elif ch == '2':
    result = num1 - num2
elif ch == '3':
    result = num1 * num2
elif ch == '4':
    result = num1 / num2
else:
    print("Input character is not recognized!")

print(num1, ch , num2, ":", result)

Enter First Number: 10
Enter Second Number: 20
Enter which operation would you like to perform?
Enter any of these char for specific operation 1,2,3,4: 1
10 1 20 : 30

In [5]:
num1= int(input("enter first number : "))
num2 =int(input("enter second number : "))

print("which operation you like to perform : ")

ch =input("enter for addition 1, for subtraction 2 , for multiplication 3 and for division 4 : ")

result =0
if ch =='1':
    result = num1+num2
    
elif ch == '2':
    result = num1-num2
    
elif ch=='3':
    result = num1*num2
    
elif ch=='4':
    result = num1/num2
    
else:
    print("input char not recognised ")
    
print(num1,ch , num2,":",result )

enter first number : 30
enter second number : 20
which operation you like to perform :
enter for addition 1, for subtraction 2 , for multiplication 3 and for division 4 : 2
30 2 20 : 10

# for loop and while loop

In [7]:
#for loop 
colors=[ "red","pink","white","green"]
for i in colors:
    print(i)
    for j in i:
        print(j)

red
r
e
d
pink
p
i
n
k
white
w
h
i
t
e
green
g
r
e
e
n

In [13]:
#print the 2 table using for loop

for i in range(0,100):
    i=i*2
    if i==22:
        break
    print(i)

0
2
4
6
8
10
12
14
16
18
20

In [30]:
tup=(1,2,3,4,5,6,7,8,9,10)
for x in tup:
    if x%2==0:
        print(x," is even ")
    else:
        print(x," is odd")

1  is odd
2  is even
3  is odd
4  is even
5  is odd
6  is even
7  is odd
8  is even
9  is odd
10  is even

# while loop

In [ ]:
i=1
while i<6:
    i=i+1
    print(i)

# Task 10.1 = what is the uasge of continue,break and pass  wiith an example.

# 1)continue

In [20]:
#in continue statement they will leave that element and move ahead
list=["mango","banana","apple","periperi"]
for x in list:
    if x =='apple':
        continue
    print(x)

mango
banana
periperi

# break

In [17]:
#break : in break stmt it will stop at that place where we give the condition 
for i in range(1,100):
    i=i*2
    if i==22:
        break
    print(i)

2
4
6
8
10
12
14
16
18
20

# pass

In [33]:
#When the user does not know what code to write, So user simply places a pass at that line. 
#Sometimes, the pass is used when the user doesnâ€™t want any code to execute.
list=[1,2,3,4,5,6,7,8,9,10]
for x in list:
    if x==11:
        pass
    print(x)

1
2
3
4
5
6
7
8
9
10

In [ ]:
a=8