# dictionaries and set

In [2]:
#set :- set are used to store multiple item in single variable 
set={ "mohit","ganesh","birla","shree"}
set

{'birla', 'ganesh', 'mohit', 'shree'}

In [3]:
for item in set:
    
    print(item)

ganesh
mohit
birla
shree

In [7]:
set={10,20,30,40,50,60,70,80,90,100}
a=print(len(set))
print( 10 in set )

10
True

In [8]:
#You cannot access items in a set by referring to an index or a key.

#But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.
#once the set is created you can not change the item but you cann add new item 
set ={"jyoti","meera","piya"}
set.add("jiya")
print(set)

{'jyoti', 'piya', 'meera', 'jiya'}

In [10]:
#update set 
set1={1,3,4,5,6,7}
set2={8,9,10}
set1.update(set2)
print(set1)

{1, 3, 4, 5, 6, 7, 8, 9, 10}

In [12]:
#add list into the set 
set={ "mama","kaka","jiju"}
list=[ 1,2,3,4]
set.update(list)
print(set)

{1, 2, 3, 4, 'mama', 'kaka', 'jiju'}

In [13]:
#remove
set ={"pink","grey","yellow","red"}
set.remove("yellow")
print(set)

{'grey', 'red', 'pink'}

In [14]:
#pop
set ={"pink","grey","yellow","red"}
set.pop()
print(set)

{'red', 'yellow', 'pink'}

In [15]:
#clear
set ={"pink","grey","yellow","red"}
set.clear()
print(set)

set()

In [16]:
#del
set ={"pink","grey","yellow","red"}
del set
print(set)

<class 'set'>

In [17]:
#for loop 
set ={"pink","grey","yellow","red"}
for x in set :
    print(x)

grey
red
yellow
pink

In [18]:
set1={1,2,3,4}
set2={4,5,6,7}
set3= set1.union(set2)
print(set3)

{1, 2, 3, 4, 5, 6, 7}

In [19]:
set4=set1.intersection(set2)
print(set4)

{4}

In [20]:
#The symmetric_difference() method will return a new set, that contains only the elements that are NOT present in both sets.
set1 ={"pink","grey","yellow","red"}
set2={4,5,6,7}
set1.symmetric_difference(set2)

{4, 5, 6, 7, 'grey', 'pink', 'red', 'yellow'}

In [22]:
set1 ={"pink","grey","yellow","red"}
set2={4,5,6,7}
set1.symmetric_difference_update(set2) 
print(set1)

{4, 5, 6, 7, 'red', 'pink', 'grey', 'yellow'}

# Dictionaries

In [23]:
#Dictionaries are used to store data values in key:value pairs.

#A dictionary is a collection which is ordered*, changeable and do not allow duplicates.
student={ "name":"jyoti",
         "fathers_name":"Bhagwanrao",
         "last_name":"Tatipamde"}
    
print(student)

{'name': 'jyoti', 'fathers_name': 'Bhagwanrao', 'last_name': 'Tatipamde'}

In [25]:
print(student["name"])

jyoti

In [26]:
#duplicates not allowed
student={ "name":"jyoti",
         "fathers_name":"Bhagwanrao",
         "last_name":"Tatipamde"
        "last_name":"ankamwar"}
print(student)

SyntaxError: invalid syntax (1172561247.py, line 5)

In [27]:
student={ "name":"jyoti",
         "fathers_name":"Bhagwanrao",
         "last_name":"Tatipamde"}
print(len(student))

3

In [29]:
dict={"name":"meera","age":34,"weight":50.2,"dob":1990}
print(dict)

{'name': 'meera', 'age': 34, 'weight': 50.2, 'dob': 1990}

In [30]:
dict={"name":"meera","age":34,"weight":50.2,"dob":1990}
x=dict.get("age")
print(x)

34

In [32]:
x=dict.keys()
print(x)

dict_keys(['name', 'age', 'weight', 'dob'])

In [33]:
y=dict.values()
print(y)

dict_values(['meera', 34, 50.2, 1990])

In [34]:
dict={"name":"meera","age":34,"weight":50.2,"dob":1990}
print(dict)
dict["address"]="pune"
print(dict)

{'name': 'meera', 'age': 34, 'weight': 50.2, 'dob': 1990}
{'name': 'meera', 'age': 34, 'weight': 50.2, 'dob': 1990, 'address': 'pune'}

In [37]:
dict={'name': 'meera', 'age': 34, 'weight': 50.2, 'dob': 1990, 'address': 'pune'}
if "address" in dict:
    print("yes, address is present in the list ")

yes, address is present in the list

In [38]:
dic = {'name': 'meera', 'age': 34, 'weight': 50.2, 'dob': 1990, 'address': 'pune'}
x=dic.pop("weight")
print(x)

50.2

In [51]:
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}
for x in dict1:
    print(x)

april_batch

In [52]:
for x in dict1.values():
    print(x)

{'student': {'name': 'Mike', 'marks': {'python': 80, 'maths': 70}}}

In [53]:
for x,y in dict1.items():
    print(x,y)

april_batch {'student': {'name': 'Mike', 'marks': {'python': 80, 'maths': 70}}}

In [54]:
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}
my_dict=dict1.copy()
print(my_dict)

{'april_batch': {'student': {'name': 'Mike', 'marks': {'python': 80, 'maths': 70}}}}

In [58]:
print(dict1["april_batch"]["student"]["name"])

Mike

In [59]:
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}
dict1["april_batch"]["student"]["name"]="jyoti"
print(dict1)

{'april_batch': {'student': {'name': 'jyoti', 'marks': {'python': 80, 'maths': 70}}}}

In [60]:
print(dict1["april_batch"]["student"]["marks"]["python"])

80

In [61]:
dict1["april_batch"]["student"]["marks"]={"ML":80,"DL":80}
print(dict1)

{'april_batch': {'student': {'name': 'jyoti', 'marks': {'ML': 80, 'DL': 80}}}}